STADIAMAPS_KEY=YOUR_STADIAMAPS_KEY_HERE
RAPIDAPI_KEY=YOUR_RAPIDAPI_KEY_HERE

NAS_HOST=YOUR_NAS_HOST_HERE
NAS_USERNAME=YOUR_NAS_USERNAME_HERE
NAS_BACKUP_ALLOWED_SSIDS=YOUR_ALLOWED_SSIDS_HERE_SEPARATED_BY_COMMA