.rounded-squircle {
    corner-shape: squircle;
    border-radius: 9999px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
